/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
@font-face {
  font-family: "miso-bold";
  src: url("../fonts/miso-bold.eot");
  src: local("☺"), url("../fonts/miso-bold.woff") format("woff"),
    url("fonts/miso-bold.ttf") format("truetype"),
    url("fonts/miso-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/*--------------------*/

body {
  background-color: #fdde7e;
  font-family: "miso-bold";
}

.prize_places {
  margin: 49px 27px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.place {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 366px;
  height: 446px;
  background-color: #fff;
  padding: 41px 105px 30px;
}
.place_gold {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 366px;
  height: 506px;
  background-color: #fff;
  padding: 51px 105px 50px;
}
.price {
  font-size: 70px;
  letter-spacing: 25%;
  color: #02995b;
}
[class*="cup"] {
  width: 135px;
  height: 140px;
  display: flex;
  flex-direction: column;
}
.cup_bronze {
  background: url(../img/cup_bronze.png) 50% 61px no-repeat;
}
.cup_gold {
  background: url(../img/cup_gold.png) 50% 61px no-repeat;
}
.cup_silver {
  background: url(../img/cup_silver.png) 50% 61px no-repeat;
}

.smoke {
  height: 46px;
  width: 49px;
  align-self: center;
  opacity: 0;
}
.bean {
  height: 45px;
  width: 37px;
  margin: 30px 0 0 40px;
}
.award {
  font-size: 56px;
  letter-spacing: 0%;
  color: #333333;
}
.promo {
  font-size: 20px;
  letter-spacing: 25%;
  color: #333333;
  line-height: 26px;
  text-align: center;
  width: 115px;
}

[class*="cup"]:hover .bean{
  opacity: 0;
}
[class*="cup"]:hover .smoke{
  opacity: 1;
}
